In [2]:
import pandas as pd

In [1]:
consumidores=[("A","Movil"),("B","Movil"),("A","Portatil"),("A","Tablet"),
              ("B","Tablet"),("C","Portatil"),("D","Smart"),("E","Consoola")]
con_labels=["consumidor","producto"]

In [4]:
con_df=pd.DataFrame(consumidores,columns=con_labels)
con_df

  consumidor  producto
0          A     Movil
1          B     Movil
2          A  Portatil
3          A    Tablet
4          B    Tablet
5          C  Portatil
6          D     Smart
7          E  Consoola

In [5]:
productores=[("a","Movil"),("a","Smart"),("a","Tablet"),("b","Portatil"),
              ("c","Sobremesa"),("c","Portatil")]
pro_labels=["productor","producto"]

In [6]:
pro_df=pd.DataFrame(productores,columns=pro_labels)
pro_df

  productor   producto
0         a      Movil
1         a      Smart
2         a     Tablet
3         b   Portatil
4         c  Sobremesa
5         c   Portatil

In [7]:
pd.merge(con_df,pro_df,on="producto",how="outer")

   consumidor   producto productor
0           A      Movil         a
1           B      Movil         a
2           A   Portatil         b
3           A   Portatil         c
4           C   Portatil         b
5           C   Portatil         c
6           A     Tablet         a
7           B     Tablet         a
8           D      Smart         a
9           E   Consoola       NaN
10        NaN  Sobremesa         c

In [8]:
pd.merge(con_df,pro_df,on="producto",how="inner")

  consumidor  producto productor
0          A     Movil         a
1          B     Movil         a
2          A  Portatil         b
3          A  Portatil         c
4          C  Portatil         b
5          C  Portatil         c
6          A    Tablet         a
7          B    Tablet         a
8          D     Smart         a

In [9]:
pd.merge(con_df,pro_df,on="producto",how="right")

  consumidor   producto productor
0          A      Movil         a
1          B      Movil         a
2          A   Portatil         b
3          C   Portatil         b
4          A   Portatil         c
5          C   Portatil         c
6          A     Tablet         a
7          B     Tablet         a
8          D      Smart         a
9        NaN  Sobremesa         c

In [10]:
pd.merge(con_df,pro_df,on="producto",how="left")

  consumidor  producto productor
0          A     Movil         a
1          B     Movil         a
2          A  Portatil         b
3          A  Portatil         c
4          A    Tablet         a
5          B    Tablet         a
6          C  Portatil         b
7          C  Portatil         c
8          D     Smart         a
9          E  Consoola       NaN